
<div class="row alert alert-warning">
  <div class="col-md-6">
  <h1>InstaBOOK</h1>
  </div>
  <div class="col-md-6">
<div class="btn-group float-right">

  <button (click)="home()"
          class="btn btn-primary btn-primary">
    Home
  </button>
  <button *ngIf="user.admin" (click)="admin()"
          class="btn btn-primary btn-dark">
    Admin
  </button>
  <button (click)="author()"
          class="btn btn-primary btn-warning">
    Author
  </button>
  <button (click)="login()"
          class="btn btn-primary btn-success">
    Login
  </button>
  <button (click)="register()"
          class="btn btn-primary btn-info">
    Register
  </button>
  <button (click)="logout()"
          class="btn btn-primary btn-danger">
    Logout
  </button>
</div>
</div>
</div>
