
<div class="container-fluid">
  <app-top-navbar></app-top-navbar>
  <div class="row">
    <div class="col-md-4">
      <div class="input-group">
  <input [(ngModel)]="bookname"
         placeholder="Search Book"
         class="form-control">
        <div class="input-group-append">
  <button (click)="searchBook(bookname)"
          class="btn btn-primary btn-block">
    Search
  </button>
      </div>
      </div>

  <h2>Search Results ({{books.length}})</h2>

  <!--<div class="row">-->
    <!--<div *ngFor="let book of books" class="col-sm-3">-->
      <!--<div class="card">-->
        <!--<img class="card-img-top" src={{book.volumeInfo.imageLinks.thumbnail}} alt="Card image cap">-->
        <!--<div class="card-body">-->
          <!--<h5 class="card-title">{{book.volumeInfo.title}}</h5>-->
          <!--<p class="card-text">{{book.searchInfo.textSnippet}}</p>-->
          <!--<a class="btn btn-primary">Go somewhere</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<ul class="list-group">
      <!--<li -->
        <!--(click)="details(m.imdbID)"-->
          <!--*ngFor="let book of books"-->
  <!--[ngClass]="{'active':-->
  <!--book.accessInfo.id === currentBook.accessInfo.id}"-->
  <!--[ngClass]="{'active': book.accessInfo.id === currentBook.accessInfo.id}"-->
          <li class="list-group-item"
              *ngFor="let book of books"
              (click)="details(book)"
              [ngClass]="{'active': book.id === currentBook.id}">
            <div class="row">
              <div class="col-md-2">
        <img class="float-left" src="{{book.volumeInfo.imageLinks.thumbnail}}"
             width="100%">
              </div>
                <div class="col-md-10">
            <h4>{{book.volumeInfo.title}} </h4>
                  by <b>{{book.volumeInfo.authors[0]}}</b>

            </div>
            </div>
      </li>
</ul>
    </div>




    <div class="col-md-8">
      <div class="row">
        <div class="col-md-2">
          <img src="{{currentBook.volumeInfo.imageLinks.thumbnail}}"
               width="100%">
          <br/>
          <br/>
          <button *ngIf="bookMarkVisible" (click)="bookmark(currentBook)"
                  class="btn btn-warning btn-block">
            BookMark
          </button>
    </div>
        <div *ngIf="bookClicked" class="col-md-10">
          <h1>{{currentBook.volumeInfo.title}}</h1>
          by <b>{{currentBook.volumeInfo.authors[0]}}</b><br/>
          Avg Rating : {{currentBook.volumeInfo.averageRating}}
          <p class="card-text">{{currentBook.searchInfo.textSnippet}}</p>
        </div>
  </div>
      <hr/>
      <div *ngIf="bookClicked" class="container-fluid">
        <h4>Add Review </h4>
        <div class="input-group">
          <input [(ngModel)]="reviewStr"
                 placeholder="Review"
                 class="form-control">
          <div class="input-group-append">
          <button (click)="addReview(reviewStr, currentBook)" class="btn btn-success btn-block">
            Add Review
          </button>
          </div>
        </div>
        <hr/>
<h4>InstaBook community reviews ({{reviews.length}})</h4>
        <ul class="list-group">

          <li *ngFor="let review of reviews" class="list-group-item">
            <div class="row">
              <div class="col-md-1">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3T1hbxLKDW_pCT4YinWNZw5Kx3xu13F3mes6b1uXH0yUEo3GLTg"
                     width="100%" >
              </div>
              <div class="col-md-11">
                <b>{{review.reader.username}} </b><br/>
            {{review.review}}
              </div>
            </div>
          </li>
        </ul>
      </div>

</div>
  </div>
</div>

