<div class="container">
<div class="row">
  <button (click)="home()"
          class="btn btn-primary btn-success">
    Home
  </button>
  <button (click)="profile()"
          class="btn btn-primary btn-warning">
    Profile
  </button>
<button (click)="logout()"
        class="btn btn-primary btn-danger">
  Logout
</button>
</div>
<br/>
  <div class="row">
  <div class="col-6">
   <app-author-page></app-author-page>
  </div>

<!--<div class="row">-->
  <div class="col-6">
    <input [(ngModel)]="user.username"
           placeholder="User Name"
           class="form-control"/>
    <input [(ngModel)]="user.password"
           placeholder="Password"
           class="form-control"/>
    <input [(ngModel)]="user.firstName"
           placeholder="first name"
           class="form-control"/>
    <input [(ngModel)]="user.lastName"
           placeholder="lastName"
           class="form-control"/>
    <input [(ngModel)]="user.email"
           placeholder="email"
           class="form-control"/>
    <button (click)="addUser(user.username, user.password, user.firstName, user.lastName, user.email)"
            class="btn btn-success btn-block">
      Add User
    </button>
    <button (click)="update(user.username, user.password, user.firstName, user.lastName, user.email)"
            class="btn btn-primary btn-block">
      Update
    </button>
    <h1>User Grid ({{otherusers.length}})</h1>
    <hr/>
    <div class="row">
      <div *ngFor="let u of otherusers" class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{u.username}}</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <button (click)="editUser(u)"
                    class="btn btn-info">Edit</button>
            <button (click)="deleteUser(u._id)"
                    class="btn btn-warning">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="col-6">-->
    <!--<app-section-list></app-section-list>-->
  <!--</div>-->
</div>
</div>
