<div class="container-fluid">
  <app-top-navbar></app-top-navbar>
  <h1>Login</h1>

  <input [(ngModel)]="username"
         placeholder="username"
         class="form-control"/>

  <input [(ngModel)]="password"
         placeholder="password"
         class="form-control"/>
  <br/>
  <button (click)="login(username, password)"
          class="btn btn-primary btn-block">
    Login
  </button>
<br/>
  <!--<a routerLink="/register">Register</a>-->
  <!--<a routerLink="/home">Home</a>-->
  <div>

  </div>
</div>
