<div class="container-fluid">
  <h1>Author: {{currentUser.username}}</h1>
  <div >
    <input [(ngModel)]="bookName"
           placeholder="Book Name"
           class="form-control"/>
    <br/>
    <input [(ngModel)]="bookDesc"
           placeholder="Book Description"
           class="form-control"/>
    <br/>
    <input [(ngModel)]="bookUrl"
           placeholder="Image Url"
           class="form-control"/>
    <hr/>
    <button (click)="updateBook(bookName, bookDesc, bookUrl)" class="btn btn-warning ">
      Update Book
    </button>
    <button (click)="createBook(bookName, bookDesc, bookUrl)" class="btn btn-success ">
      Create Book
    </button>
    <!--<button (click)="editSection(sectionName, seats)" class="btn btn-primary btn-block">-->
      <!--Edit and Update Book-->
    <!--</button>-->
    <hr/>
  </div>
<h1>Author Book List</h1>
  <ul class="list-group">
    <li *ngFor="let book of books" class="list-group-item">
      {{book.name}} {{book.description}}
      <button (click)="deleteBook(book._id)" class="float-right btn btn-danger ">
        Delete
      </button>
      <button (click)="editBook(book._id, book.name, book.description, book.imageurl)" class="float-right btn btn-success">
        Edit
      </button>

    </li>
  </ul>
</div>


<!--<button *ngIf="isAdmin" (click)="populateField(section._id, section.name,section.seats)" class="float-right btn btn-warning">Edit</button>-->
<!--<button *ngIf="isAdmin" (click)="deleteSection(section)" class="float-right btn btn-danger">Delete</button>-->
<!--<button *ngIf="!isAdmin" (click)="unenroll(section)" class="float-right btn btn-info">UnEnroll</button>-->
<!--<button *ngIf="!isAdmin" (click)="enroll(section)" class="float-right btn btn-primary">Enroll</button>-->
