<div class="container-fluid">
  <h1>Author: {{currentUser.username}}</h1>
  <div >
    <input [(ngModel)]="bookName"
           placeholder="Book Name"
           class="form-control"/>
    <br/>
    <input [(ngModel)]="bookDesc"
           placeholder="Book Description"
           class="form-control"/>
    <br/>
    <input [(ngModel)]="bookUrl"
           placeholder="Image Url"
           class="form-control"/>
    <hr/>
    <button (click)="createBook(bookName, bookDesc, bookUrl)" class="btn btn-dark ">
      Create Book
    </button>
    <button (click)="updateBook(bookName, bookDesc, bookUrl)" class="btn btn-dark ">
      Update Book
    </button>

    <!--<button (click)="editSection(sectionName, seats)" class="btn btn-primary btn-block">-->
      <!--Edit and Update Book-->
    <!--</button>-->
    <hr/>
  </div>
<h1>Author Book List</h1>
  <ul class="list-group">
    <li *ngFor="let book of books" class="list-group-item">
      <div class="row">
        <div class="col-md-2">
          <img class="float-left" src="{{book.imageurl}}"
               width="100%">
        </div>
        <div class="col-md-10">
          <h4>{{book.name}} </h4>
          by <b>{{currentUser.username}}</b><br/>
            {{book.description}}
          <br/>
          <i (click)="editBook(book._id, book.name, book.description, book.imageurl)" style="font-size:30px" class="fa fa-pencil">
          </i>
          <i (click)="deleteBook(book._id)" class="fa fa-trash-o" style="font-size:30px">
          </i>

        </div>
      </div>


    </li>
  </ul>
</div>


<!--<button *ngIf="isAdmin" (click)="populateField(section._id, section.name,section.seats)" class="float-right btn btn-warning">Edit</button>-->
<!--<button *ngIf="isAdmin" (click)="deleteSection(section)" class="float-right btn btn-danger">Delete</button>-->
<!--<button *ngIf="!isAdmin" (click)="unenroll(section)" class="float-right btn btn-info">UnEnroll</button>-->
<!--<button *ngIf="!isAdmin" (click)="enroll(section)" class="float-right btn btn-primary">Enroll</button>-->
