<div class="container-fluid">
  <app-top-navbar></app-top-navbar>
  <button (click)="search()"
          class="btn btn-primary btn-dark">
    Search Books
  </button>
  <hr/>
  <!--<a routerLink="/login">Login</a>-->
  <!--<a routerLink="/register">Register</a>-->
  <div class="row">
  <div *ngFor="let book of books" class="col-sm-3">
  <div class="card">
  <img class="card-img-top" src={{book.volumeInfo.imageLinks.thumbnail}}  alt="Card image cap">
  <div class="card-body">
  <h5 class="card-title">{{book.volumeInfo.title}}</h5>
  <!--<p class="card-text">{{book.searchInfo.textSnippet}}</p>-->
  <button (click)="search()" class="btn btn-dark">Find More</button>
  </div>
  </div>
  </div>
  </div>
  <div>

    <hr/>
  </div>

  <app-user-grid></app-user-grid>

  <!--<app-course-grid></app-course-grid>-->
</div>
