<div class="container-fluid">
  <div >
  <button (click)="logout()"
          class="btn btn-primary btn-danger">
    Logout
  </button>
  <button (click)="home()"
          class="btn btn-primary btn-success">
    Home
  </button>
  <button *ngIf="user.admin" (click)="admin()"
          class="btn btn-primary btn-dark">
    Admin
  </button>
    <button (click)="author()"
            class="btn btn-primary btn-warning">
      Author
    </button>
  </div>

  <h1>Profile</h1>
  <input [(ngModel)]="user.username"
         placeholder="User Name"
         class="form-control"/>
  <input [(ngModel)]="user.password"
         placeholder="Password"
         class="form-control"/>
  <input [(ngModel)]="user.firstName"
         placeholder="first name"
         class="form-control"/>
  <input [(ngModel)]="user.lastName"
         placeholder="lastName"
         class="form-control"/>
  <input [(ngModel)]="user.email"
         placeholder="email"
         class="form-control"/>
  <button (click)="update(user)"
          class="btn btn-primary btn-block">
    Update
  </button>

  <h2>Bookmarked Books {{books.length}}</h2>
  <ul class="list-group">
    <li *ngFor="let b of books" class="list-group-item">
      {{b.book.name}}
      ({{b.book.description}})
    </li>
  </ul>
  <hr/>
  <h2>Following ({{following.length}})</h2>
  <ul class="list-group">
    <li *ngFor="let follow of following" class="list-group-item">
      {{follow.user.username}}
    </li>
  </ul>
  <hr/>
  <h2>Followed By ({{followedBy.length}})</h2>
  <ul class="list-group">
    <li *ngFor="let follow of followedBy" class="list-group-item">
      {{follow.followedBy.username}}
    </li>
  </ul>

  <!--<a (click)="logout()">Logout</a>-->
  <!--<a routerLink="/home">Home</a>-->
  <!--<a routerLink="/admin">Admin</a>-->


</div>
