<div class="container-fluid">
  <app-top-navbar></app-top-navbar>
  <h1>Register</h1>

  <input [(ngModel)]="username"
         placeholder="username"
         class="form-control"/>
  <br/>
  <input [(ngModel)]="password"
         placeholder="password"
         class="form-control"/>
  <br/>
  <input [(ngModel)]="password2"
         placeholder="verify password"
         class="form-control"/>
  <br/>
  <button (click)="register(username, password, password2)"
          class="btn btn-dark">
    Register
  </button>

  <!--<a routerLink="/login">Login</a>-->
  <!--<a routerLink="/home">Home</a>-->

</div>
